.container-1{
  width: 100%;
  vertical-align: middle;
  white-space: nowrap;
  position: relative;
}

.container-1 input#search{
  width: 100%;
  max-width: 400px;
  height: 40px;
  background: #fff;
  border: none;
  font-size: 10pt;
  float: left;
  color: #63717f;
  padding-left: 45px;
  border-radius: 5px;
}

.container-1 input#search::placeholder {
   color: #65737e;
}

.container-1 .icon{
  position: absolute;
  top: 58%;
  transform: translateY(-48%);
  left: 17px;
  top: 17px;
  z-index: 1;
  color: #4f5b66;
}

/*++++++++++++++++++++++++++++++++++++++++++++++++++++*/

table {
    width: 100%;
    margin-bottom: 20px;
}

table, th, td {
    border-collapse: collapse;
}
th, td {
    padding: 15px;
}

th, td {
    text-align: center;
}

tr:nth-child(even) {
   background-color: darken(#fff, 15%);
}

tr:nth-child(odd) {
    background-color: darken(#fff, 10%);
}

tr:hover {
    background-color: darken(#fff, 18%);
}

 footer {
    padding: 20px 0px; 
    background-color: #f8f8f8;
    border-top: 1px solid #e7e7e7;
 }