@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

@import 'mixins/BEM';

.jumbotron {
    p {
        font-size: 15px;
    }
    h1 {
        font-size: 40px;
    }
}
 footer {
    padding: 20px 0px; 
    background-color: #f8f8f8;
    border-top: 1px solid #e7e7e7;
 }